$timeline-width: 4px;
$timeline-section-height: 11.5rem;
$timeline-section-expanded-height: 18rem;

.timeline-wrapper {
    position: relative;
    @include margin-top(7rem);
    @include margin-bottom(7rem);
    display: flex;
    flex-flow: column nowrap;
}

.timeline {
    position: absolute;
    min-height: $timeline-section-height;
    width: $timeline-width;
    left: calc(50% - #{$timeline-width});
    background-color: $color-gray;
    border-radius: 2px;
    transition: height 0.3s;

    @for $i from 1 through 10 {
        &-height-#{$i} {
            height: calc(12rem * #{$i});
        }
    }

    &-active {
        position: absolute;
        height: $timeline-section-expanded-height;
        width: $timeline-width;
        left: calc(50% - #{$timeline-width});
        top: 0rem;
        background: rgb(103, 105, 110);
        background: linear-gradient(
            180deg,
            rgba(103, 105, 110, 1) 0%,
            rgba(0, 130, 216, 1) 50%,
            rgba(103, 105, 110, 1) 100%
        );
        border-radius: 2px;
        opacity: 0;
        transition: top 0.3s, opacity 0.3s ease-in-out;

        @for $i from 1 through 10 {
            &.active-#{$i} {
                top: calc((#{$i} - 1) * 11.5rem);
            }
        }

        .timeline-section.active ~ & {
            visibility: visible;
            opacity: 1;
        }

        & .center {
            position: absolute;
            width: $timeline-width * 3;
            height: $timeline-width * 3;
            top: calc(50% - #{$timeline-width});
            left: -#{$timeline-width};
            background-color: $color-light;
            border: solid 1px $color-accent-dark;
            border-radius: 50%;
            box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: width 0.3s, left 0.3s, height 0.3s, opacity 0.3s ease-in-out;
        }
    }
    @for $i from 1 through 10 {
        &-section.active ~ .timeline-height-#{$i} {
            height: calc((12rem * #{$i}) + 6rem);
        }
    }

    &-section.active ~ .timeline-active > .center {
        visibility: visible;
        opacity: 1;
    }

    &-start,
    &-stop {
        position: absolute;
        width: 3rem;
        left: calc(50% - 1.5rem);
        color: $color-gray;
        font-weight: bold;
        text-align: center;
    }

    &-start {
        margin-top: 1rem;
        padding-bottom: 0.5rem;
        top: -3rem;

        &::after {
            position: absolute;
            content: '';
            top: 2rem;
            left: calc(50% - 1.25rem);
            width: 2.5rem;
            height: 0.25rem;
            background-color: $color-gray;
            border-radius: 2px;
        }
    }

    &-stop {
        position: absolute;
        bottom: -2.5rem;
        padding-top: 1rem;

        &::before {
            position: absolute;
            content: '';
            top: -0.1rem;
            left: calc(50% - 1.25rem);
            width: 2.5rem;
            height: 0.25rem;
            background-color: $color-gray;
            border-radius: 2px;
        }
    }
}
.timeline-section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $timeline-section-height;
    transition: height 0.5s;

    .timeline-role {
        position: absolute;
        margin-bottom: 0;
        color: $color-gray;
        transition: color 0.3s;

        p {
            font-style: italic;
            opacity: 0;
            margin: 0;
            visibility: hidden;
            transition: opacity 0.3s ease-in-out;
        }
    }

    .timeline-learnings {
        position: absolute;
        opacity: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        transition: opacity 0.3s, padding-left 0.5s, padding-right 0.5s;

        svg {
            height: 20px;
            margin-top: auto;
            margin-bottom: auto;
        }

        li {
            color: $color-light;
        }
    }

    &.active {
        height: $timeline-section-expanded-height;

        .timeline-role {
            h5 {
                color: $color-accent;
            }

            p {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-left {
        .timeline-role {
            right: 55%;
            text-align: right;
            order: 2;
            transition: right 0.1s;
        }

        .timeline-learnings {
            left: 55%;
            order: 1;

            svg {
                position: absolute;
                right: unset;
                left: 0rem;
            }
        }

        &.active {
            .timeline-learnings {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &-right {
        .timeline-role {
            left: 55%;
            order: 1;
            transition: left 0.1s;
        }

        .timeline-learnings {
            right: 55%;
            order: 2;
            text-align: right;

            svg {
                position: absolute;
                right: -0.4rem;
                left: unset;
                transform: rotate(180deg);
            }
        }

        &.active {
            .timeline-learnings {
                visibility: visible;
                opacity: 1;
                padding-left: 0;
                padding-right: 1rem;
            }
        }
    }
}
