.section-header {
  border-bottom: solid;
  border-width: 0 0 1px 0;
  border-image: linear-gradient(
      90deg,
      rgba(00, 130, 216, 1) 0%,
      rgba(00, 130, 216, 0) 100%
    )
    1;
  @include padding-top(3rem);
}
