.skills {
    &-header {
        @include margin-top(0rem);
        @include margin-bottom(0.5rem);
        padding: 0.75rem 1rem;
        border-radius: 4px;
        background-color: rgba(58, 58, 58, 0.5);
        cursor: pointer;

        svg {
            height: 0.75rem;
            width: 0.75rem;
            margin: 0;
        }
    }

    &-item {
        overflow: hidden;
    }

    &-body {
        max-height: 0;
        padding: 0 1rem;
        opacity: 0;
        transition: max-height 0.1s ease-out, opacity 0.1s;

        &.active {
            max-height: 1000px;
            opacity: 1;
            transition: max-height 0.25s ease-in, opacity 0.1s;
        }
    }

    &-accordion {
        @include cta-button;
    }
}
