htlm {
  scroll-behavior: smooth;
}

.font-color-accent {
  color: $color-accent;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 1rem;

  li {
    @include margin-top(0.2rem);
    @include margin-bottom(0.2rem);
  }

  svg {
    position: absolute;
    left: 0.5rem;
    margin: 0 0.5rem;
    height: 20px;
  }
}
